view/HelloWorld/build/CMakeFiles/*
view/HelloWorld/build/cmake_install.cmake
view/HelloWorld/build/CMakeCache.txt
.vscode/settings.json
view/HelloWorld/build/.cmake/*
view/HelloWorld/build/compile_commands.json
